/* .cards {
    box-shadow: #2A409A 1px 1px 1px 1px;
    margin: 10px;
    /* padding: 10px 0px 10px 0px; */
    /* border-radius: 20px; */
    /* font-size: large */
/* }  */
.cards {
  position: relative;
  margin: 10px;
  height: 180px;
  border-radius: 20px;
  padding: 5px;
  /* border: #2A409A solid 2px; */
  /* background-color: #a8d5fd; */
  justify-items: start;
}

.circle-container {
  position: absolute;
  top: -30px; /* Adjust this value to position the circle */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; /* Adjust as needed */
  height: 60px; /* Adjust as needed */
  border-radius: 50%;
  background-color: #2A409A;
  color: white;
  z-index: 1;
}



.cardiconcolor{
  background: linear-gradient(81deg, rgba(83,200,243,1) 0%, rgba(42,64,154,1) 100%);
}
.img {
  position: relative;
  z-index: 2;
}

.img {
  width: 60px; /* Adjust as needed */
  height: 60px; /* Adjust as needed */
  border-radius: 50%;
  /* object-fit: cover; */
}

@media only screen and (max-width: 600px) {
    .cards {
        height: 80px;
        width: 232px;
    }
  }
  @media (min-width: 600px) and (max-width: 759px) {
    .cards {
        height: 70px;
    width: 500px;
    }
  }

  .chart-container {
    text-align: center; /* Center the content horizontally */
  }
  
  @media (max-width: 768px) {
    .chart-container {
      max-width: 100%; /* Set max-width to 100% for responsiveness */
    }
  }
 

  .cardtop-container {
    transition: all 0.3s ease;
  }
  
  .cardtop-container:hover {
    transform: scale(1.09);
  }
  
  /* .cardtop-container.active {
    transform: scale(2.2);
  } */