.sidebar-brand.d-none.d-md-flex {
    background-color: white;
    border-right: 2px solid #2A409A;
}
/* .sidebar-nav .nav-link.active {
    /* background-color:rgba(0, 31, 111, 0.44); */
    /* background-color:#6b88fe; */
    /* background-color:#D3DAF3 }*/
    
/* AppSidebar.css */
.sidebar {
    --sidebar-width: 16rem;
    --sidebar-bg:red;
    --sidebar-nav-link-active-color: #fff; /* Set default active color */
  }
  
  /* .sidebar-nav-link.active {
    color: var(--sidebar-nav-link-active-red
    ); 
  } */
  